
.sidenav {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 10px;
}
.active{
  background: #cecece;

}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    margin-top: 10px ;
}

.sidenav a:hover {
    color: #f1f1f1;
    background: blue;
}

.main {
    margin-left: 30%; /* Same as the width of the sidenav */
    font-size: 25px; /* Increased text to enable scrolling */
    padding: 50px 50px;
}
@media screen and (max-width: 450px) {
    .sidenav {
      padding-top: 15px;

  }
    .sidenav a {
      font-size: 10px;
    }
    .main{
      font-size: 5px;
      padding: 3px 3px;
    }
    .titulo-materia{
      font-size: 7px;
    }
}
.titulo-materia{
  padding: 10px;
  color: white;
}
.navbar{
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.frame{
  border: 0px;
  width: 100vw;
  height: 100vw;


}
